<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'register')}">

<body>

<h2 th:text="#{title.register.new}">Register New Student</h2>

<form th:object="${user}" class="form-horizontal" method="post">

  <input th:replace="~{fragments/inputField :: input ('firstName', 'First Name', 'text')}" />
  <input th:replace="~{fragments/inputField :: input ('lastName', 'Last Name', 'text')}" />
  <input th:replace="~{fragments/inputField :: input ('email', 'Email', 'text')}" />
  <input th:replace="~{fragments/inputField :: input ('password', 'Password', 'password')}" />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit" th:text="#{button.register}">Register</button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p>
        <span th:text="#{text.auth.existing}">Already have an account?</span>
        <a th:href="@{/login}" th:text="#{link.auth.login}">Login here</a>
      </p>
    </div>
  </div>

</form>

</body>
</html>
